<div>operators calculation progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => customer_tarif_optimizator.operators_optimization_progress_bar} %>

<div>tarifs calculation  progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => customer_tarif_optimizator.tarifs_optimization_progress_bar} %>

<div>tarif calculations  progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => customer_tarif_optimizator.tarif_optimization_progress_bar} %>

