<% content_for :title, "Задание параметров подбора тарифа" %>

<%= link_to('Подобрать тариф', customer_tarif_optimizators_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>

<%= link_to('Посмотреть результаты подбора тарифов', customer_optimization_results_show_customer_results_path, {:class => "btn btn-primary", :type =>"button"}) %>
<br />
<br />

<div class="alert alert-info" role="alert">	
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Рекомендуем начать с выбора варианта использования связи. Мы установим начальные значения, которые вы потом можете откорректировать	
</div>

<%= render :partial => 'customer/tarif_optimizators/input/input', :layout => 'application/layouts/tabs', :locals => {:name => 'customer_tarif_optimization_tabs', :active => session[:current_tabs_page]['customer_tarif_optimization_tabs'].to_i} %>
