<p>Для получения детальной информации по тарифу (верхняя таблица) или отдельной услуге (вторая таблица) выберите (кликните) нужную строку.
	Но при этом постарайтесь не попасть на ссылку, так как при нажатии на ссылку вы перейдете на описание тарифа или тарифной опции.  
</p>

<%= render :partial => 'demo/home/results_for_customer/service_sets', :layout => 'application/layouts/demo/model_table', :locals => {:table => controller.customer_service_sets}%>

<%= render :partial => 'demo/home/results_for_customer/tarif_results', :layout => 'application/layouts/demo/model_table', :locals => {:table => controller.customer_tarif_results}%>

<%= render :partial => 'demo/home/results_for_customer/tarif_results_details', :layout => 'application/layouts/demo/model_table', :locals => {:table => controller.customer_tarif_detail_results}%>

