<%= form_tag({:action => :upload}, 
              :id => "call_history_file_upload_form", 
              :action_name => customer_history_parser_upload_path,
              :method => controller.parsing_params[:file_upload_form_method], 
              :remote => controller.parsing_params[:file_upload_remote_mode], 
              :'data-type' => :html, :multipart => true, 
              :turbolinks => controller.parsing_params[:file_upload_turbolink_mode]) do %>

	<p><label for="call_history">Выберите файл</label>

	<%= file_field_tag 'call_history' %>

	<%= submit_tag "Загрузить" %>  

<% end %>
