<div class="dropdown pull-right">
	<div class="">
		<a class="text-info" data-toggle="dropdown">
			Пользователь: <strong><%= controller.current_user ? controller.current_user.name : 'Гость' %></strong>  <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<% if !controller.current_user %>
				<li><%= link_to 'Войти', demo_login_path %></li>
			<% else %>
				<li><%= link_to 'Профиль', user_path(controller.current_user) %></li>
				<li><%= link_to 'Выйти', demo_logout_path %></li>
			<% end %>
		</ul>
	</div>
</div>
