<%
panel_html = local_assigns[:html] ? local_assigns[:html] : "panel-default"
%>
<div class="panel <%= panel_html %>" >
	<div class="panel-heading"><%= panel[:head] %></div>
	<div class="panel-body">
	<% if (panel[:body]).is_a?(Array) %>
		<% panel[:body].each do |body_item| %>
		<p class="">
			<%= body_item %>
		</p>
		<% end  %>
	<% else  %>
		<% panel[:body] %>
	<% end  %>
	</div>
	<div class="panel-footer"><%= table.fields(item)[:footer] %></div>
</div>
