<div>
	<h5>Базовое описание целей сайта</h5>
	<p>На сайте мы поможем вам подобрать оптимальный тариф и тарифные опции.
	    <a><%= link_to('Можете посмотреть пример подбора тарифа.', demo_home_demo_results_path) %></a>
	   Ниже приведено более детальное описание. Если Вы хотите продолжить, то необходимо
	   зарегистрироваться. 
	</p>
	<%= link_to('Зарегистрироваться', new_user_path, {:class => "btn btn-large", :type =>"button"}) %> 
	<%= link_to('Войти', demo_login_path, {:class => "btn btn-large", :type =>"button"}) %> 
</div>

<br />
<%= render :partial => 'demo/home/opportunities', :layout => 'application/layouts/accordion', :locals => {:name => 'demo_home_opportunities_accord', :active => session[:current_accordion_page]['demo_home_opportunities_accord'].to_i} %>


