<div>
	<h5>Описание шагов по подбору тарифа</h5>
	<p>Для подбора тарифа необходимо загрузить вашу историю звонков или ее смоделировать. 
	   После этого вы можете выбрать набор услуг оператора (роуминг, звонки, смс, интернет и т.д.), для которых вы хотите
	   подобрать тариф. Это можно использовать для подбора тарифов для телефонов с двумя сим-картами. 
	   Ниже приведено более детальное описание. 
	</p>
	<p>Подбор тарифа требует больших вычислительных затрат, и соответственно, не бесплатны для нас. Поэтому
	   мы предоставляем каждому пользователю бесплатно загрузить детализацию или смоделировать звонки три раза, и
	   провести один подбор тарифа. Если вы захотите дальше пользоваться нашими услугами, то вам будет необходимо 
	   перевести сто рублей за один подбор тарифа и три загрузки детализации.
	</p>
	<% if true or (current_user and current_user.customer_info and current_user.customer_info.required_to_pay?) %>
		<%= link_to('Вы использовали вашу попытку. Нажмите кнопку, если хотите внести деньги', demo_payments_fill_payment_form_path, {:class => "btn btn-large", :type =>"button"}) %>
	<% else%>
		<%= link_to('Приступить к подбору тарифа', demo_optimization_steps_choose_load_calls_options_path, {:class => "btn btn-large", :type =>"button"}) %> 
	<% end %>

</div>
<br />
<%= render :partial => 'demo/home/steps', :layout => 'application/layouts/accordion', :locals => {:name => 'demo_home_steps_accord', :active => session[:current_accordion_page]['demo_home_steps_accord'].to_i} %>


