<h3>Описание шагов по подбору тарифа</h3>
<p>Для подбора тарифа необходимо загрузить вашу историю звонков или ее смоделировать. 
   После этого вы можете выбрать набор услуг оператора (роуминг, звонки, смс, интернет и т.д.), для которых вы хотите
   подобрать тариф. Это можно использовать для подбора тарифов для телефонов с двумя сим-картами. 
   Ниже приведено более детальное описание. 
</p>
<p>Подбор тарифа требует больших вычислительных затрат, и соответственно, не бесплатны для нас. Поэтому
   мы предоставляем каждому пользователю бесплатно загрузить детализацию или смоделировать звонки три раза, и
   провести один подбор тарифа. Если вы захотите дальше пользоваться нашими услугами, то вам будет необходимо 
   перевести сто рублей за один подбор тарифа и три загрузки детализации.
</p>


<%= link_to('Приступить к подбору тарифа', demo_optimization_steps_choose_load_calls_options_path, {:class => "btn btn-success", :type =>"button"}) %>
<br /> 
<%= link_to('Если Вы использовали вашу пробную попытку, то можете внести деньги', new_demo_payments_path, {:class => "btn btn-primary", :type =>"button"}) %>

<%= render :partial => 'demo/home/steps', :layout => 'application/layouts/accordion', :locals => {:name => 'demo_home_steps_accord', :active => session[:current_accordion_page]['demo_home_steps_accord'].to_i} %>


