<% title t('.title') %>

<%= render :partial => 'form', :layout => 'application/layouts/model_form_for', :locals => {:form_item => tarif_class_form} %>

<p>
	<%= link_to 'Show', controller.tarif_class, {:class => "btn btn-primary", :type =>"button", :remote => true} %>
	<%= link_to 'Back', tarif_classes_path, {:class => "btn btn-primary", :type =>"button", :remote => true} %>
</p>

