<% content_for :title, t('.title') %>

<p></p>

<%= render :partial => 'customer/optimization_results/results_for_customer/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => customer_service_sets}%>
      
