<% title "Выбери какой тариф лучше для тебя" %>
<% content_for :hide_title, 'true' %>

<section id="first" >
	<header>
	    <div class="header-content header-content-smaller">
	        <div class="inner">
	            <h2 class="cursive"><big> Надоело переплачивать за мобильную связь?*</big></h2>
	            <hr />
	            <a class="page-scroll btn btn-success btn-xl" href="#one">Посмотри какой тариф лучше для тебя</a>
	        </div>
	    </div>
	</header>
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<br />
	<footer class="text-center">*В настоящее время только Москва и Московская область</footer>
</section>


<section class="bg-primary" id="one">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                <h2 class="margin-top-0 text-success"><big> Выбери на кого ты похож </big></h2>
                <p class="text-faded">
                </p>
                <hr class="primary">
            </div>
        </div>

		<% accordion_page = session[:current_accordion_page].blank? ? 0 : session[:current_accordion_page]['ratings_accord'].to_i %>
		
		<%= render :partial => 'comparison/optimizations/ratings/ratings', :layout => 'application/layouts/accordion_landing', 
		           :locals => {:name => 'ratings_accord', :active => accordion_page} %>

		<hr />

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
            	<%= link_to("Я другой", customer_calls_choose_your_tarif_with_our_help_path, {:class => "page-scroll btn btn-success btn-xl"}) %>
            </div>
        </div>

    </div>
</section>
