<% content_for :title, t('.title') %>

<p>
<%= link_to( t('.new_comparison_optimization_button'), new_comparison_optimization_path, 
	{:class => "btn btn-success", :type => 'button'})  if user_type == :admin %>
<%= render :partial => 'comparison/optimizations/information/index' %>
</p>

<% if false %>
	<%= render :partial => 'optimizations_table', :layout => 'application/layouts/model_table', :locals => {:table => controller.comparison_optimizations_table} %>
<% else %>
	<%= render :partial => 'optimizations_panels', :layout => 'application/layouts/model_panels', 
		:locals => {:table => controller.comparison_optimizations_table, :panels_in_row => 4}  %>
<% end %>

