<% content_for :title, t('.title') %>

<p>
<%= link_to( t('.new_comparison_optimization_button'), new_comparison_optimization_path, 
	{:class => "btn btn-success", :type => 'button'})  if user_type == :admin %>
<%= render :partial => 'comparison/optimizations/information/index' %>
</p>

<%= render :partial => 'optimizations', :layout => 'application/layouts/model_table', :locals => {:table => controller.comparison_optimizations_table}%>

