<div>Статус загрузки звонков</div>
<%= render :partial => 'call_history_parsing_progress_bar', :layout => 'application/layouts/progress_bar', 
  :locals => {:progress_bar => customer_history_parser.call_history_parsing_progress_bar} %>
