<div><%= GC.stat %></div>
<div>operators calculation progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => controller.operators_optimization_progress_bar} %>

<div>tarifs calculation  progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => controller.tarifs_optimization_progress_bar} %>

<div>tarif calculations  progress</div>
<%= render :partial => 'tarif_optimization_progress_bar', :layout => 'application/layouts/progress_bar', :locals => {:progress_bar => controller.tarif_optimization_progress_bar} %>

