<%
begin
	f = File.open("/proc/#{Process.pid}/smaps")
	f.gets
	line = f.gets
	line =~ /(\d+) kB/ 
	f.close
	message =$1.to_i  
	
rescue => e
	message = e
end

%>
<div><%= GC.stat %></div>
<br />
<div><%=  message %></div>
<br />
<div><%=  line %></div>
<br />

<%= render :partial => 'customer/tarif_optimizator/input/input', :layout => 'application/layouts/accordion', :locals => {:name => 'customer_tarif_optimization_accord', :active => session[:current_accordion_page]['customer_tarif_optimization_accord'].to_i} %>
