<div><%= GC.stat %></div>
<br />
<%= render :partial => 'customer/tarif_optimizator/input/input', :layout => 'application/layouts/accordion', :locals => {:name => 'customer_tarif_optimization_accord', :active => session[:current_accordion_page]['customer_tarif_optimization_accord'].to_i} %>
