<% content_for :title, "Детальное описание затрат на мобильную связь" %>

<div class="row">
	<div class="col-xs-4">
		<%= link_to(' Вернуться к списку рекомендаций', content_articles_index_path, {:remote => true, :class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-4">
		<%= link_to(' Вернуться к выбранной рекомендации', content_articles_show_path, {:remote => true, :class => "btn btn-success", :type =>"button"}) %> 
	</div>
</div>

<p style="font-size: normal">Для получения детальной информации по тарифу (верхняя таблица) или отдельной услуге (вторая таблица) выберите (кликните) нужную строку.
	Но при этом постарайтесь не попасть на ссылку, так как при нажатии на ссылку вы перейдете на описание тарифа или тарифной опции.  
</p>

<%= render :partial => 'content/articles/detailed_results/detailed_results_tabs', :layout => 'application/layouts/tabs', :locals => {:name => 'content_articles_detailed_results_tabs', :active => session[:current_tabs_page]['content_articles_detailed_results_tabs'].to_i} %>
