<% content_for :title, "Список рекомендации по тарифам и опциям " %>


<p style="font-size: normal">Для выбора нескольких значений удерживайте клавишу Ctrl</p>

<%= render(:partial => 'content/articles/index/params', :layout => 'application/layouts/filtr_form_n_columns', 
    :locals => {:form_item => controller.recommendation_select_params}) %>

<%= render(:partial => 'content/articles/index/articles', :layout => 'application/layouts/model_table', 
	:locals => {:table => controller.articles}) %>
	