<% content_for :title, "Рекомендации по выбору тарифов и опций" %>

<div class="">
	<%= render(:partial => 'content/articles/description', :locals => {:demo_result_description => controller.demo_result_description}) %>
</div>

<div class="row">
	<div class="col-xs-3">
		<%= link_to('Зарегистрироваться', new_user_registration_path, {:class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-2">
		<%= link_to('Войти', login_path, {:class => "btn btn-primary", :type =>"button"}) %> 
	</div>
</div>
<br/>

<%= render :partial => 'content/articles/show/service_sets', :layout => 'application/layouts/demo/model_table', :locals => {:table => controller.customer_service_sets}%>

