<% title t('.title') %>

<p>
	<%= link_to(' Вернуться к списку лучших тарифов', customer_optimization_results_show_customer_results_path, {:remote => true, :class => "btn btn-primary", :type =>"button"}) %>
</p>
<p>Для получения детальной информации по отдельной услуге (верхняя таблица) выберите (кликните) нужную строку.
	Но при этом постарайтесь не попасть на ссылку, так как при нажатии на ссылку вы перейдете на описание тарифа или тарифной опции.  
</p>

<%= render(:partial => 'customer/optimization_results/detailed_results_for_customer/if_show_aggregate_customer_results', :layout => 'application/layouts/filtr_form_inline', 
	:locals => {:form_item => controller.if_show_aggregate_customer_results, :html => {:class => "form-inline"}} )  %>
<br />
<%= render :partial => 'customer/optimization_results/detailed_results_for_customer/results_for_customer', :layout => 'application/layouts/tabs', 
    :locals => {:name => 'detailed_results_for_customer', :active => session[:current_tabs_page]['detailed_results_for_customer'].to_i} %>
      
