<% title t('.title') %>

<p>
<%= link_to( 'Создать новое описание', new_result_run_path, 
	{:class => "btn btn-success", :type => 'button', :rel => "nofollow"})  if controller.is_allowed_new_result_run? %>
<%= render :partial => 'result/runs/information/index' %>
</p>
<p>
<%= render(:partial => 'result/runs/admin/result_runs_select', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => result_runs_select} ) if user_type == :admin %>
</p>
<%= render :partial => 'runs', :layout => 'application/layouts/model_table', :locals => {:table => controller.result_runs_table}%>

