<% content_for :title, "Список лучших тарифов и тарифных опций" %>

<p></p>

<%= render :partial => 'result/runs/results/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => result_service_sets}%>
      
