<ul class="nav nav-pills nav-justified ">
	<li><%= render('/application/shared/trademark') %></li>
	<li><%= link_to('Главная страница', root_path, {:remote => false}) %></li>
	<li><%= link_to("Карта сайта", home_sitemap_path) %></li>
	<li><%= link_to("Контакты", home_contacts_path) %></li>
</ul>