<ul class="nav nav-pills nav-stacked left_menu" role="tablist">
	<li><%= link_to content_tag(:span, image_tag("left_menu_1.png", :alt => 'Главная страница')) + 'Главная страница', root_path %></li>

	<li><%= link_to content_tag(:span, image_tag("left_menu_3.png", :alt => 'Рекомендации')) + 'Рекомендации', content_articles_show_path %></li>
	
	<li><%= link_to content_tag(:span, image_tag("left_menu_2.png", :alt => 'Описание услуг')) + 'Описание услуг', home_short_description_path%></li>
		 
</ul>

