<div class="row">
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Изредка", :group_result_description => @group_result_description[10]}%>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Умеренно", :group_result_description => @group_result_description[11]}%>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Активно", :group_result_description => @group_result_description[12]}%>
        </div>
    </div>
</div>
