<div class="row">
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Читаю новости и проверяю почту", :group_result_description => @group_result_description[21]}%>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Смотрю видео-ролики и пользуюсь интернетом", :group_result_description => @group_result_description[23]}%>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'group_panel', :locals => {:heading => "Смотрю фильмы и пользуюсь интернетом", :group_result_description => @group_result_description[27]}%>
        </div>
    </div>
</div>
