
<h3>Наши услуги</h3>
<p>На сайте мы поможем вам подобрать оптимальный тариф и тарифные опции. 
   На данный момент мы подбираем оптимальные комбинации по тарифам МТС, Билайн, Мегафон и Теле2, которые доступны для подключения, 
   при подключении тарифа в Москве и Московской области.
   <% link_to('Для начала Вы можете посмотреть наши рекомендации по выбору тарифов и опций', content_articles_show_path, {:class => "input", :remote => true}) %>
</p>

<p>	
   Если Вы хотите, то можете <%= link_to('зарегистрироваться', new_user_registration_path) %> или 
   <%= link_to('войти на сайт', login_path) %>. 
   Это позволит вам повторно получить доступ к полученным вами результатам. 
</p>


<!--
<p>	
   Для получения новостей от нас подпишитесь на наше сообщества в вконтакте и фейсбуке: 
   <%#= render('/application/shared/vk_follow') %>
   <%#= render('/application/shared/facebook_follow') %>
</p>
-->

