<% content_for :title, "Подбор лучшего тарифа" %>

<h3>Наши услуги</h3>
<p>На сайте мы поможем вам подобрать оптимальный тариф и тарифные опции. 
   На данный момент мы подбираем оптимальные комбинации по тарифам МТС, Билайн и Мегафон, которые доступны для подключения, 
   при подключении тарифа в Москве и Московской области.
</p>
<p>	
   <%= link_to('Здесь Вы можете посмотреть наши рекомендации по выбору тарифов и опций', content_articles_show_path, {:class => "input", :remote => false}) %>
</p>
<p>	
   Если Вы хотите продолжить, то Вам необходимо зарегистрироваться. Регистрация необходима для того, чтобы мы могли отличать параметры
   подбора тарифов разных пользователей, уведомлять Вас о завершении расчетов. Вы  сможете сообщить нам, если у вас что-то не получается, 
   или у вас есть предложения по улучшению наших севрисов, или вы хотите сообщить о нашей ошибке. 
</p>
<div class="row">
	<div class="col-xs-3">
		<%= link_to('Зарегистрироваться', new_user_registration_path, {:class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-2">
		<%= link_to('Войти', login_path, {:class => "btn btn-primary", :type =>"button"}) %> 
	</div>
</div>

<br />


<!--
<p>	
   Для получения новостей от нас подпишитесь на наше сообщества в вконтакте и фейсбуке: 
   <%#= render('/application/shared/vk_follow') %>
   <%#= render('/application/shared/facebook_follow') %>
</p>
-->

