<% content_for :title, "Подбор лучшего тарифа" %>

<h3>Описание шагов по подбору тарифа</h3>

<p>Для подбора тарифа необходимо загрузить вашу историю звонков (на данный момент доступно только для МТС, Мегафон и Билайн) или ее смоделировать. 
   После этого вы можете выбрать набор услуг оператора (роуминг, звонки, смс, интернет и т.д.), для которых вы хотите
   подобрать тариф. Это можно использовать для подбора тарифов для телефонов с двумя сим-картами. Также вы можете посчитать 
   стоимость использования для выбранных тарифа и тарифных опций.
   Ниже приведено более детальное описание. 
</p>

<p>Подбор тарифа требует больших вычислительных затрат, и соответственно, не бесплатны для нас. Поэтому
   мы предоставляем каждому пользователю бесплатно загрузить детализацию или смоделировать звонки три раза, и
   провести один пробный подбор тарифа. Пробный подбор тарифа использует ограниченный набор тарифных опций, а именно, 
   опции позволяющие снизить стоимость звонков. Опции для смс, ммс, интернета, роуминга по России и зарубежом не используются. 
</p>

<p>Если вы захотите дальше пользоваться нашими услугами, то вам будет необходимо перевести денежные средства, исходя 
   из расчета сто рублей за один подбор тарифа, три загрузки детализации, три моделирования звонков, и 10 расчетов стоимости 
   выбранных тарифа и тарифных опций. 
   Например, если вы переведете 300 рублей, то получите возможность на 9 загрузок детализации или моделирования звонков, 9 подбора тарифов, 
   и 30 расчетов стоимости выбранных тарифа и тарифных опций.
   Перевод денег осуществляется через yandex-money. На данный момент вы можете перевести деньги с вашего yandex-кошелька или 
   с банковской карточки.
</p>

<p>С подробным описанием можете ознакомиться <%= link_to 'здесь', home_detailed_description_path %>
</p>

<div class="row">
	<div class="col-xs-3">
		<%= link_to('Приступить к подбору тарифа', demo_optimization_steps_choose_load_calls_options_path, {:class => "btn btn-success", :type =>"button"}) %>
	</div>
	
	<div class="col-xs-8">
		<%= link_to('Если Вы использовали вашу пробную попытку, то можете внести деньги', new_customer_payments_path, {:class => "btn btn-primary", :type =>"button"}) %>
	</div>
</div>