<% title "Контакты" %>
<% description "Контакты. www.mytarifs.ru — сервис по подбору тарифов и опций для мобильных операторов \
				МТС, «Билайн», «Мегафон», TELE2. Помогаем принять правильное решение! Предлагаем широкий выбор средств \
				для анализа услуг в области мобильной связи." %>
<% keywords "контакты" %>	

<div class="panel panel-default" >
	<div class="panel-heading"><h4> Компания WWW.MYTARIFS.RU </h4></div>
	<div class="panel-body">
		<p>Адрес: Москва, 6-й Новоподмосковный переулок, дом 3</p>
		<p>Email: <%= mail_to "mytarifs@yandex.ru "%></p>
		<p>Телефон: <a href="tel:+74957082016">+7 495 708 20-16</a></p>		
	</div>
	<div class="panel-footer">
		
	</div>
</div>
