<% content_for :title, "Наши контакты" %>

<div class="panel panel-default" >
	<div class="panel-heading"><h4> Компания WWW.MYTARIFS.RU </h4></div>
	<div class="panel-body">
		<p>Адрес: Москва, 6-й Новоподмосковный переулок, дом 3</p>
		<p>Email: <%= mail_to "mytarifs@yandex.ru "%></p>
		<p>Телефон: <a href="tel:+74957082016">+7 495 708 20-16</a></p>		
	</div>
	<div class="panel-footer">
		
	</div>
</div>
