<% content_for :title, "Загрузка детализации звонков" %>

<div class="alert alert-info" role="alert">	
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Внимание!</strong>
	Можно загрузить детализации звонков для МТС в формате HTML, XLS или XLSX, 
	Мегафон в формате HTML, Билайн в формате XLS или XLSX, Теле2 в формате PDF.	
</div>

<%= render(:partial => 'customer/history_parsers/user_params', 
      :layout => 'application/layouts/filtr_form_2_columns', 
      :locals => {:form_item => user_params_filtr}) %>

<%= render :partial => 'upload_form' %>

<br />

<h3>Детали обработки загруженной детализации звонков</h3>

<%= render :partial => 'call_history_tabs', :layout => 'application/layouts/tabs', 
      :locals => {:name => 'call_history_tabs', :active => session[:current_tabs_page]['call_history_tabs'].to_i} %>
      

