<p>
    При регистраци мы предоставляем каждому зарегистрированному пользователи возможность три раза загрузить историю звонков или
    смоделировать звонки, а также одну попытку подбора тарифов с ограниченным набором тарифных опций (только тарифные опции по
    снижению стоимости звонков). Сколько попыток у вас осталось вы можете посмотреть в пользовательском меню (справа вверху), 
    раздел <strong>Профиль</strong>. 
</p>
<p>
    Вы можете увеличить количество попыток, если переведете на наш счет деньги. Количество попыток, которые вы получите,
    расчитывается исходя из расчета сто рублей за один подбор тарифа, три загрузки детализации, и три моделирования звонков. 
    Например, если вы переведете 300 рублей, то получите возможность на 9 загрузок детализации или моделирования звонков, 
    и 3 подбора тарифов.
</p>
<p>    
    Для перевод средств перейдите по закладке <strong>Перевод средств</strong>, где выберите сумму для перевода (не может быть меньше
    100 рублей), способ оплаты: Яндекс.Деньги или банковской карточкой, и нажмите кнопку <strong>Перевести</strong>.
    После этого вы перейдете на сайт яндекс.money, который и будет осуществлять перевод. Обращаем внимание, что мы не имеем никакого
    отношения к переводу денег, и не получаем никаких ваших данных от яндекс.money (например, номер счета и тому подобное).
    Если вы предпочитаете другие способы оплаты, то сообщите нам об этом, и мы постараемся добавить удобные для вас способы оплаты.
</p>
<p>    
    После совершения перевода yandex.money должно подтвердить нам, что вы совершили оплату. Получив подтверждение, мы
    сообщим вам об этом электронным письмом, после чего вы сможете продолжить подбор тарифов.
</p>
