<div class="navbar dropdown pull-left">
	<div class="navbar-inner">
		<a class="brand " data-toggle="dropdown">Admin menu<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="dropdown-submenu">
				<a>Calls</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'Set params for generating calls', calls_set_calls_generation_params_path %></li>
					<li><%= link_to 'View calls', calls_path %></li>
				</ul>
			</li>	
			<li><%= link_to 'users', users_path %></li>
			<li><%= link_to 'categories', categories_path %></li>
		</ul>
	</div>
</div>

