<nav class="nav navbar top_menu">
  <div class="container-fluid">
		  <%= render :partial => '/application/menus/main_top_menu/tabs', :layout => 'application/layouts/tabs', 
		    :locals => {:name => 'main_top_menu_tabs', :active => session[:current_tabs_page]['main_top_menu_tabs'].to_i}
		     %>
  </div><!-- /.container-fluid -->
</nav>