<div class="">
	<div class="">
		<a class="brand"> User menu<span class=""></span></a>
		<ul class="">
			<li><%= link_to 'Set params for generating calls', customer_calls_set_calls_generation_params_path %></li>
			<li><%= link_to 'View calls', customer_calls_path %></li>
			<li><%= link_to 'Tarif results', customer_tarif_optimizator_index_path %></li>
		</ul>
	</div>
</div>

