<ul class="dropdown-menu">
		<li><%= link_to  t(:customer_call_runs_path), customer_call_runs_path %></li>

	<%if controller.customer_has_free_calls_modelling_trials? %>
		<li><%= link_to  t(:customer_calls_set_calls_generation_params_path), customer_calls_set_calls_generation_params_path %></li>
	<% end %>
		 
	<%if controller.customer_has_free_history_parsing_trials? %>
		<li><%= link_to t(:customer_history_parsers_prepare_for_upload_path), customer_history_parsers_prepare_for_upload_path %></li>
	<% end %>
		 
	<%if controller.customer_has_calls_loaded? %>
		<li><%= link_to  t(:customer_calls_path), customer_calls_path %></li>
	<% end %>

</ul>

