<ul class="dropdown-menu">
	<li><%= link_to 'Описание услуг', home_detailed_description_path %></li>

	<li><%= link_to 'Новости', home_news_path({:turbolinks => false}), {:remote => false, } %></li>

	<li><%= link_to 'Перевод средств', new_customer_payments_path %></li>

</ul>

