<ul class="dropdown-menu">
	<li><%= link_to t(:home_detailed_description_path), home_detailed_description_path %></li>

	<li><%= link_to t(:home_news_path), home_news_path %></li>

	<li><%= link_to t(:new_customer_payments_path), new_customer_payments_path %></li>

</ul>

