<ul class="dropdown-menu ">
	<% if !current_user %>
		<li><%= link_to t(:register), new_user_registration_path, {:rel => "nofollow"} %></li>
		<li><%= link_to t(:login), login_path, {:rel => "nofollow"} %></li>
	<% else %>
		<li><%= link_to t(:account_info), user_path(controller.current_user), {:rel => "nofollow"} %></li>
		<li><%= link_to t(:logout), logout_path, {:rel => "nofollow"} %></li>
	<% end %>
</ul>
