.dropdown-menu {
    min-width: 100%;
}

/*user code */
.content {
    border: 1px solid #d9d9d9;
    padding: 10px 15px;
}

.popover-content {
    background: $body-bg;
    color: $gray;
}


table thead {
  background: #28A1E7;
/*  color: #ffffff !important;*/
  
}
.table thead tr th {
  vertical-align: middle;
  text-align: center;
}
.equal-group, .equal-group > div[class*='col-']{  
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    flex: 1 1 auto;
}
.equal-group-column{  
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 1 1 auto;
}
.equal-item-no-flex {  
    flex: 0 0;
}
.equal-item-flex {  
    flex: 1 1 auto;
}
.icon_menu_img {
  margin-right: 5px;
}
#loading-indicator {
  position: fixed; 
  left: 50%;
  top: 30%;
  z-index: 100000000;   
}
#loading-indicator-ajax {
  position: fixed; 
  left: 50%;
  top: 30%;
  z-index: 1000000;   
}
#vk_groups,
#vk_groups iframe
 {
  width: 100% !important;
}
/* END USER CODE */

.f16 .flag{
  display:inline-block;
  margin-left: 5px !important;
  margin-right: 5px !important;
  height:16px;width:16px;vertical-align:text-top;line-height:16px;background:image_url("flags16.png") no-repeat;}
.f16 ._England{background-position:0 -112px;}
.f16 .en{background-position:0 -3664px;}
.f16 .ru{background-position:0 -3104px;}

.f32 .flag{
  display:inline-block;
  margin-left: 25px !important;
  margin-right: 5px !important;
  height:32px;width:32px;vertical-align:text-top;line-height:32px;background:image_url('flags32.png') no-repeat;}
.f32 ._England{background-position:0 -224px;}
.f32 .en{background-position:0 -7328px;}
.f32 .ru{background-position:0 -6208px;}