<table class='table table-bordered table-hover table-condensed text-center'>
	<thead>
		<th>Услуга</th>
		<th>Роуминг</th>
		<th>Направление</th>
		<th>Оператор</th>
		<th>Цена</th>
	</thead>
	<tbody>
	<% [:fixed, :included_in_tarif, :others].each do |filtr| %>
		<% @categories = category_groups_presenter(full_category_groups(filtr)) %>
		<% @categories[:result].each_with_index do |full_category_group, row| %>
			<tr>
			<% full_category_group.each_with_index do |full_category_group_item, col| %>
				<% if full_category_group_item[1] %>
				<td rowspan="<%= full_category_group_item[1] %>" style="vertical-align: middle !important;">
					<%= @categories[:geo_names][row][col] ? geo_presenter(full_category_group_item[0], @categories[:geo_names][row][col]) : full_category_group_item[0] %>
				</td>	
				<% end %>
			<% end if full_category_group %>
			</tr>
		<% end if full_category_groups %>
		<tr><td colspan="5"><% %></td></tr>
	<% end %>
	</tbody>
</table>


