<% title "Рекомендации по выбору тарифов и опций" %>
<% noindex 'googlebot' %>

<div class="">
	<%= render(:partial => 'content/articles/description', :locals => {:demo_result_description => controller.demo_result_description}) %>
</div>

<p>
	<%= link_to('Зарегистрироваться', new_user_registration_path, {:class => "btn btn-success", :type =>"button", :rel => "nofollow"}) %> 
	<%= link_to('Войти', login_path, {:class => "btn btn-primary", :type =>"button", :rel => "nofollow"}) %> 
</p>

<%= render :partial => 'content/articles/show/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => controller.customer_service_sets}%>

