<% content_for :title, t('.title') %>

<p>
<%= render :partial => 'result/service_sets/results/attention' %>

<%= render(:partial => 'result/service_sets/results_select', :layout => 'application/layouts/filtr_form_group', 
	    :locals => {:form_item => results_select} ) %>

<%= render :partial => 'result/service_sets/results/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => result_service_sets} %>
</p>
