<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="x4nPYeSCTvrDyEcF8VXIhQevdKeRq1n0QzCQGA47TmU" />
  <title>Tarif</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render '/layouts/demo_layout' %>
</body>
</html>


